body {
  background-color: white;
  margin: 0;
}

.paper-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.paper-item {
  padding: 1em;
  width: 100%;
}

.app-bar-item {
  margin-top: 0.6em;
  margin-left: 0;
}

.app-bar-item:not(:last-child) {
  margin-right: 0.5em;
}

.app-bar-link {
  color: white;
  padding-top: 0.8em;
  margin-top: 0;
}

.app-bar-link:hover {
  color: #FAFAFA;
}

.auth {
  width: 100%;
  max-width: 400px;
  margin: 3em auto 0;
}

.explanation {
  margin-bottom: 1em;
}

.two-column-row {
  overflow: hidden;
}

.notice {
  text-align: right;
  width: 100%;
  clear: both;
  float: none;
  color: #AAA;
  padding-top: 1em;
}

.small {
  font-size: 16px;
  color: #AAA;
}

.form-container {
  padding: 1em;
  overflow: hidden;
}

@media (min-width: 600px) {
  .paper-item {
    width: 50%;
  }
  .half-width {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-left: 1%;
    padding-right: 1%;
  }
}
