body {
  background-color: white;
  margin: 0;
}

.paper-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.paper-item {
  padding: 1em;
  width: 100%;
}

.app-bar-item {
  margin-top: 0.6em;
  margin-left: 0;
}

.app-bar-item:not(:last-child) {
  margin-right: 0.5em;
}

.app-bar-link {
  color: white;
  padding-top: 0.8em;
  margin-top: 0;
}

.app-bar-link:hover {
  color: #FAFAFA;
}

.auth {
  width: 100%;
  max-width: 400px;
  margin: 3em auto 0;
}

.explanation {
  margin-bottom: 1em;
}

@media (min-width: 750px) {
  .paper-item {
    width: 50%;
  }
}
